.product_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 2rem 5rem 2rem;
}

.product_card:hover {
  box-shadow: inset 0 0 0.5rem orange;
}

.title {
  display: grid;
  align-items: center;
  height: 141px;
}

.title h2 {
  font: {
    size: 20px;
    weight: 600;
  }
}

a {
  outline: none;
  text-decoration: none;
}

a:link,
a:visited {
  color: black;
}

.author h4 {
  font: {
    size: 14px;
    style: normal;
    weight: normal;
  }
  color: gray;
}

.price p {
  font: {
    size: 20px;
    style: normal;
    weight: 600;
  }
  color: gray;
}

.to_cart {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

.to_cart:hover {
  background-color: orange;
  border: none;
  color: white;
}

.to_cart:active {
  background-color: black;
  color: orange;
}

.img_card {
  width: 185px;
  height: 289px;
  overflow: hidden;
  align-self: center;
}

.img_card img {
  width: 185px;
  height: 289px;
  object-fit: contain;
}